<div class="container">
    
    <div class="bg-primary p-3 text-white" style="text-align: center; font-size: x-large; font-weight: bold;">
        Kullanıcı Ekle
    </div>

    <form  class="m-5">
        <div class="row mb-4 g-0">
            <label class="col-2" style="font-size: 110%;" for="userNameSurname">Ad Soyad :</label>
            <div class="col-10">
                <input type="text" id="userNameSurname"  class="form-control" placeholder="Ad SoyAd">
            </div>   
        </div>

        <div class="row mb-4 g-0">
            <label for="userDescription" style="font-size: 110%;" class="col-2">Kullanıcı Açıklaması:</label>
            <div class="col-10">
                <input type="text" id="userDescription" class="form-control" placeholder="Kullanıcı Açıklaması">
            </div>   
        </div>

        <div class="row mb-4 g-0">      
            <label for="userPhone" style="font-size: 110%;" class="col-2">Kullanıcı Telefon:</label>
            <div class="col-10">
                <input id="userPhone" type="text" class="form-control" placeholder="Kullanıcı Telefon">
            </div>   
        </div>

        <div class="row mb-4 g-0">
            <label for="userEmail" syle="font-size: 110%" class="col-2">Kullanıcı Email:</label>
            <div class="col-10">
                <input type="text" id="userEmail" class="form-control" placeholder="Kullanıcı Email">
            </div>
        </div>

        <div class="row mb-4 g-0 ">
            <label class="col-2" for="userIsActive">Kullanıcı Aktif Mi</label>
            <div class="col-10">
                <input type="checkbox" id="userIsActive" class="form-check-input">
            </div>
        </div>

        <hr class="mb-4">
        
        <div class="row mb-4 g-0">
            <label class="col-2" syle="font-size: 110%" for="connectionType">Bağlantı Tipi:</label>
            <div class="col-10">
                <input type="text" id="connectionType" class="form-control" placeholder="Bağlantı Tipi">
            </div>
        </div>

        <div class="row mb-4 g-0">
            <label for="ftpUrl" class="col-2" syle="font-size: 110%">Ftp Url:</label>
            <div class="col-10">
                <input type="text" id="ftpUrl" class="form-control" placeholder="Ftp Url">
            </div>
        </div>

        <div class="row mb-4 g-0">
            <label class="col-2" style="font-size: 110%" for="userId">Kullanıcı Id:</label>
            <div class="col-10">
                <input type="text" id="userId" class="form-control" placeholder="userId">
            </div>
        </div>

        <div class="row mb-4 g-0">
            <label for="userPassword" style="font-size: 110%" class="col-2">Kullanıcı Şifre:</label>
            <div class="col-10">
                <input type="password" id="userPassword" class="form-control" placeholder="Kullanıcı Şifre">
            </div>
        </div>

        <div class="row mb-4 g-0">
            <label for="userPasswordAgain" style="font-size: 110%" class="col-2">Kullanıcı Şifre Tekrar:</label>
            <div class="col-10">
                <input type="password" id="userPasswordAgain" class="form-control" placeholder="Kullanıcı Şifre Tekrar">
            </div>
        </div>

        <hr>

        <button type="submit" class="btn btn-dark">Kullanıcı Ekle</button>
    </form>
    
</div>
