<!--
<span class="bg-dark text-light">Hello World</span>
-->

<div class="container">
  <nav class="navbar bg-dark navbar-dark navbar-expand-lg" data-bs-theme="dark" >
    <div class="container-fluid">
        <a routerLink="" class="navbar-brand">VİBA</a>
        <div class="collapse navbar-collapse ms-1">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" routerLink="userAdd">Kullanıcı Ekle</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link active">Kullanıcı Listele</a>
              </li>
            </ul>
        </div>
    </div>  
  </nav>
  
  <div class="m-5">
    <router-outlet></router-outlet>
  </div>
</div>


